.button-slider::after {
  content: "";
  width: 16px;
  height: 32px;
  background-image: url("../img/svg/arrow-slider.svg");
  background-size: cover;

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
  }
}
